[Unit]
Description=Enable q6voice audio when a call is performed with oFono
After=dbus.service
Wants=dbus.service

[Service]
User=nobody
Group=audio
ExecStart=/usr/bin/q6voiced hw:0,4

[Install]
WantedBy=default.target
