[Unit]
Description=Unpack Compressed Firmware Blobs
Before=systemd-udev-settle.service
After=msm-firmware-loader.service

[Service]
ExecStart=/usr/bin/msm-firmware-loader-unpack

[Install]
WantedBy=sysinit.target
